.attendee-container  {
  margin-bottom: 20vh;
}

.attendee {
  margin: 5px;
  display: center;
  border-radius: 5px;

  background: repeating-linear-gradient(
      45deg,
      $turquoise,
      $turquoise 5px,
      $olive 5px,
      $olive 10px
      ) !important;
  opacity: 0.9;
  box-shadow: 4px 4px lightgrey;
}

.attendee-name {
  color: $pink;
  font-weight: bold;
  text-shadow: 2px 2px $turquoise;
  padding-top: 10px;
}


.attendee-pic-btn {}

.attendee-pic {
  border-radius: 50%;
  margin: 0px 0px 20px 20px
}
