// Specific CSS for your home-page
$turquoise: #74E8E8;
$inactive: #E5E5E5;
$pink: #FF385C;

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  text-shadow: 2px 2px $turquoise;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: white;
  opacity: 0.8;
  margin-bottom: 30px;
  text-shadow: 1px 1px lightgrey;
}

.about-container {
  padding: 20px;
}


.home-btn {
  background-color: $turquoise;
  border-radius: 25px;
  text-shadow: 2px 2px lightgrey;

}
