<div class="mobile-wrapper">
  <div class="card-wrapper text-center">
    <div class="accept-title">
      <h5>-- accepted --</h5>
    </div>
    <div class="card-sm accepted">
      <div class="backdrop-button" style="background-image: linear-gradient(-225deg, rgba(249,249,249,0.6) 0%, rgba(100,100,100,0.6) 50%), url('https://images.unsplash.com/photo-1532597540419-b176991847e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80');">
        <div class="date accepted">
          <p>friday july 4th</p>
        </div>
        <div class="btn btn-primary details-button accepted">
          <h3>see more</h3>
        </div>
        <div class="interest left-bottom accepted">
          <p><i class="far fa-heart"></i>getting paid</p>
        </div>
      </div>
    </div>
  </div>
</div>
