  <div class="mobile-wrapper">
    <div class="card-wrapper text-center">
      <div class="accept-title">
        <h5>-- no events --</h5>
      </div>
      <div class="card-sm no-events">
        <div class="backdrop-button">
          <div class="btn btn-primary details-button no-events">
            <h3>click for events</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
