<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="meal-wrapper">
        <div class="meal-border">
          <div class="meal-status">
            <p>no confirmed meals</p>
          </div>
          <div class="meal-details">

          </div>
          <div class="meal-actions">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
