<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="dashboard-summary">
        <div class="dashboard-location-photo">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="dashboard-status-summary">
        <div class="dashboard-status-text">
          <p>searching lisbon...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="dashboard-event-card">
        <div class="dashboard-event-border">
          <div class="dashboard-event-summary">
            <div class="badge-status text-center">
              <p>you have earned the <strong>flavour flav badge</strong></p>
            </div>
            <div class="meal-status text-center">
              <p> you have meals to check out </p>
              <div class="btn btn-primary meals-button">
                <h3>see your matches</h3>
              </div>
            </div>
            <div class="city-status text-center">
              <p> lisbon has <strong>354</strong> people looking for meals this wekk </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="dashboard-meal-summary">
        <div class="dashboard-meal-text">
          <p>meals for review </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="dashboard-summary">
        <div class="dashboard-meal-photo">
        </div>
      </div>
    </div>
  </div>
</div>

