<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="dashboard-badge-summary">
        <div class="dashboard-badge-text">
          <p><strong><%= current_user.users_searching_by_loaction %> </strong> people looking for meals this week </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="dashboard-summary">
        <div class="dashboard-location-photo">
          <div class="city-status text-center">
            <p>Lisbon</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="dashboard-status-summary">
        <div class="dashboard-status-text">
          <p>searching lisbon...</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="dashboard-blank-block">
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 photo-box no-mp">
      <% if current_user.availabilities.length > 0  && current_user.upcoming_unconfirmed_meals.length + current_user.upcoming_confirmed_meals.length > 0 %>
        <%= link_to upcoming_meals_path, :class => "button" do %>
          <div class="meals-button btn btn-lrg">
            <h2>see meals</h2>
          </div>
        <% end %>
  <% elsif current_user.upcoming_unconfirmed_meals.length + current_user.upcoming_confirmed_meals.length == 0 %>
        <div class="searching-button btn btn-lrg">
          <h2>searching...</h2>
        </div>
      <% else %>
        <%= link_to availabilities_path, :class => "button" do %>
          <div class="avail-button btn btn-lrg">
            <h3>set availabilty</h3>
          </div>
        <% end %>
      <% end %>

      <div class="dashboard-profile-photo-row-1">
        <div class="prof-1"></div>
        <div class="prof-2"></div>
        <div class="prof-3"></div>
        <div class="prof-4"></div>
        <div class="prof-5"></div>
      </div>
      <div class="dashboard-profile-photo-row-2">
        <div class="prof-6"></div>
        <div class="prof-7"></div>
        <div class="prof-8"></div>
        <div class="prof-9"></div>
        <div class="prof-10"></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="dashboard-blank-block-2">
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="dashboard-summary">
        <div class="dashboard-meal-photo">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="dashboard-bottom-block">
        <p>you have earned the <strong>flavour flav badge</strong></p>
      </div>
    </div>
  </div>
</div>

