<div class="tabs">
  <%= link_to dashboard_path, class:"tab active" do %>
    <i class="fas fa-home"></i>
    <p class="dock-text">Home</p>
  <% end %>
  <%= link_to availabilities_path, class:"tab" do %>
    <i class="fas fa-calendar-alt"></i>
    <p class="dock-text">Availability</p>
  <% end %>
  <%= link_to upcoming_meals_path, class:"tab" do %>
    <div class="book-circle">
      <i class="fas fa-rocket"></i>
      <p class="dock-text">Book Today</p>
    </div>
  <% end %>
  <a class="tab" href="#">
    <i class="fas fa-users"></i>
    <p class="dock-text">Past Meals</p>
  </a>
  <%= link_to interests_edit_path, class:"tab" do %>
    <i class="fas fa-heart"></i>
    <p class="dock-text">Interests</p>
  <% end %>
</div>
