<div class="container">
  <h2 class="text-center"><strong class = "name"><%= current_user.first_name %></strong>, update your Interests!</h2>
  <div class="i-am-centered">
  <div class="row">
  <% @interests.each do |i| %>
   <%=  form_for(i, url: user_interest_path(i), method: :patch) do |f| %>
      <div class="col-xs-6 interest-container">

        <div class="interest-name">
           <p><%= i.interest.name %></p>
        </div>
           <label class="switch pull-right">
              <%= f.check_box :active, class: "submit-interests" %>
              <span class="slider round"></span>
          </label>
      </div>
    <% end %>
  <% end %>
  </div>
  </div>
</div>

