<div class="container">
  <h1><strong class = "name"><%= current_user.first_name %></strong>, update your Interests!</h1>

<% @interests.each do |i| %>
  <%=  form_for(i, url: user_interest_path(i), method: :patch) do |f| %>
    <div class="col-xs-6">
      <div class="row interest-name">
         <p><%= i.interest.name %></p>

        </div>
    </div>

    <div class="col-sm-6">
      <div class="row">

        <label class="switch pull-right">
          <%= f.check_box :active, class: "submit-interests" %>
          <span class="slider round"></span>
        </label>
      </div>
    </div>
  <% end %>
<% end %>
</div>

