<% content_for :title, "Flavour - Attendee List" %>
<div class="container">
  <div class="attendee-container">
    <div class="row">
      <div class="col-sm-12">
        <% @attendees.each do |attendee| %>
          <%= render partial: "attendee", locals: {attendee: attendee} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
