<div class="upcoming-header text-center confirmed-stripe">
  <h3>Checkout your past meals</h3>
</div>
<div class="past-meals">
  <% @meals.each do |meal|%>
    <%= link_to meal_path(meal) do %>
      <%= render partial: "confirmed_meal", locals: {meal: meal, status: "past"} %>
    <% end %>
  <% end %>
</div>
