
<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="meal-show-resturant"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="meal-show-photos">
        <div class="photo-1 blur"></div>
        <div class="photo-2 blur"></div>
        <div class="photo-3 blur"></div>
        <div class="photo-4 blur"></div>
        <div class="photo-5 blur"></div>
        <div class="photo-6 blur"></div>
        <div class="photo-7 blur"></div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="meal-show-container text-center">
        <div class="meals-show-resturant">
          <h3> the amazing resutrant </h3>
        </div>
        <div class="meals-show-rating">
          <p>4.8 out of 5</p>
        </div>
        <div class="meals-show-date">
          <ul class="list-inline no-mp">
            <li><p>this</p></li>
            <li><p>friday</p></li>
            <li><p>the</p></li>
            <li><p>28</p></li>
            <li><p>at</p></li>
            <li><p>8pm</p></li>
          </ul>
        </div>
        <div class="meals-show-button">
          <div class="btn btn-primary confirm-button">
            <h3 class="no-mp text-align">confirm</h3>
          </div>
           <div class="btn btn-primary reject-button">
            <h3 class="no-mp text-align">reject</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="meal-show-map"></div>
    </div>
  </div>
</div>
