
<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="meal-show-resturant"></div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="meal-show-photos">
        <div class="photo-1 blur"></div>
        <div class="photo-2 blur"></div>
        <div class="photo-3 blur"></div>
        <div class="photo-4 blur"></div>
        <div class="photo-5 blur"></div>
        <div class="photo-6 blur"></div>
        <div class="photo-7 blur"></div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="meal-show-container text-center">
        <div class="meals-show-resturant">
          <h3> the amazing resutrant </h3>
        </div>
        <div class="meals-show-rating">
          <ul class="list-inline stars">
              <li><i class="fa fa-star stars" aria-hidden="true"></i></li>
              <li><i class="fa fa-star stars" aria-hidden="true"></i></li>
              <li><i class="fa fa-star stars" aria-hidden="true"></i></li>
              <li><i class="fa fa-star stars" aria-hidden="true"></i></li>
              <li><i class="fa fa-star stars" aria-hidden="true"></i></li>
              <li class="review-rating">(4.7 out of 5 stars)</li>
            </ul>

        </div>
        <div class="meals-show-date">
          <ul class="list-inline no-mp meal-date">
            <li class="filler-word"><p>this</p></li>
            <li class="main-word"><p>friday</p></li>
            <li class="filler-word"><p>the</p></li>
            <li class="main-word"><p>28</p></li>
            <li class="filler-word"><p>at</p></li>
            <li class="main-word"><p>8pm</p></li>
          </ul>
        </div>
        <div class="meals-show-button">
          <div class="btn btn-primary confirm-button">
            <h2 class="no-mp text-align">confirm</h2>
          </div>
           <div class="btn btn-primary reject-button">
            <h2 class="no-mp text-align">reject</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 no-mp">
      <div class="meal-show-map"></div>
    </div>
  </div>
</div>
