<div class="container upcoming_unconfirmed_meals">
  <div class="row">
    <% @unconfirmed_meals.each do |meal| %>
      <%= link_to meal_path(meal) do %>
          <%= render partial: "not_confirmed_meal", locals: {meal: meal} %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="container upcoming_confirmed_meals">
  <div class="row">
    <% @meals.each do |meal| %>
      <%= link_to meal_path(meal) do %>
          <%= render partial: "confirmed_meal", locals: {meal: meal, status: meal.status} %>
      <% end %>
    <% end %>
  </div>
</div>
