<div class="mobile-wrapper">
  <div class="card-wrapper text-center">
    <div class="countdown">
      <h5>2 hours and 57 mins until meal</h5>
    </div>
    <div class="card-lg accepted">
      <div class="backdrop-profile" style="background-image: linear-gradient(-225deg, rgba(249,249,249,0.6) 0%, rgba(100,100,100,0.6) 50%), url('https://images.unsplash.com/photo-1532597540419-b176991847e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80');">
        <div class="interest top-center accepted" style="vertical-align: middle;">
          <i class="far fa-heart heart"> </i>
          <p>getting paid</p>
        </div>
        <div class="confirmed bottom-center accepted" style="vertical-align: middle;">
          <i class="fas fa-check check"></i>
          <p>confirmed</p>
        </div>
      </div>
      <div class="white-card">
        <div class="meal">
          <div class="rest-header text-center">
            <p class="small-header">you're going to</p>
            <h4 class="large-header">the amazing place</h4>
            <ul class="list-inline">
              <li><i class="fa fa-star stars" aria-hidden="true"></i></li>
              <li><i class="fa fa-star stars" aria-hidden="true"></i></li>
              <li><i class="fa fa-star stars" aria-hidden="true"></i></li>
              <li><i class="fa fa-star stars" aria-hidden="true"></i></li>
              <li><i class="fa fa-star stars" aria-hidden="true"></i></li>
            </ul>
            <p class="review-rating">(4.7 out of 5 stars)</p>
          </div>
          <div class="meal-details">
            <div class="list-inline small-header list">
              <li>this:</li>
              <li>the:</li>
              <li>at:</li>
            </div>
            <div class="list-inline large-header list">
              <li>friday</li>
              <li>27th</li>
              <li>8pm</li>
            </div>
          </div>
        </div>
        <div class="map">
        </div>
      </div>
    </div>
  </div>
</div>
