.meals-button {
border-radius: 12px;
background-color: #FF385C;
color: white;
border: none;
}

.meals-button:hover {
border-radius: 12px;
background-color: #e8304f;
color: white;
border: none;
}

.meals-button h3 {
  margin-top: 12px;
  margin-bottom: 12px;
}
