$pink: #FF385C;
$turquoise: #74E8E8;

.day-applied {
  color: blue;
  font-size: 20pt;
  text-align: center;
}

.selectable-day{
  background-color: $turquoise
}
.applied-day{
  background-color: $pink;
}

.availabilities-container {
  height: 80vh;
  overflow-y: scroll;
}
