.confirmed {
  background-color: #74E8E8;
}

.not-confirmed {
  background-color: #FF385C;
}

.active-meals-status {
  width: 28vw;
  height: 2vh;
  margin-left: 6.8vw;
  margin-right: auto;
  margin-top: 2vh;
  margin-bottom: 0px;
  border-radius: 12px 12px 0 0;
}

.active-meals-status p {
  margin-bottom: 0px;
  color: white;
  font-size: 12px;
  text-align: center;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);

}

.active-meals-card {
  border: none;
  border-radius: 12px 12px 0 0;
  color: black;
  height: 12vh;
  width: 90vw;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-right: 0px;
  margin-left: 0px;
  overflow: hidden;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
  -webkit-box-shadow: 4px 4px 20px 0px rgba(227,223,227,1);
  -moz-box-shadow: 4px 4px 20px 0px rgba(227,223,227,1);
  box-shadow: 4px 4px 20px 0px rgba(227,223,227,1);
}

.active-meals-city-photo {
  background-size: cover !important;
  background-image: linear-gradient(-225deg, rgba(249,249,249,0.6) 0%, rgba(100,100,100,0.6) 50%), url('https://media-cdn.urbanadventures.com/data/149/tour_316/c-fakepath-tour-experience-lisbon-lead.jpg');
  background-position: center;
  height: 12vh;
  width: 35vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path:         polygon(0 0, 80% 0, 100% 100%, 0 100%);
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
}

.active-meals-city-photo p {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin: auto;
  color: white;
  width: 25vw;
  text-align: center;
}

.active-meals-date {
  width:20vh;
  background-color: white;
  color: black;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path:         polygon(0 0, 80% 0, 100% 100%, 20% 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.active-meals-date h5 {
  margin: 0 3vw 0 0;
  padding: 0px 0px;
  color: #a0a0a0;
  font-size: 16px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.active-meals-date h4 {
  margin: 0 0 0 0;
  padding: 0px 0px;
  font-weight: bold;
  color:#74E8E8;
  font-size: 32px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.active-meals-date h6 {
  margin: 0 -3vw 0 0;
  padding: 0px 0px;
  color: #a0a0a0;
  font-size: 14px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}


.active-meals-resturant-photo {
  background-size: cover !important;
  background-image: linear-gradient(-225deg, rgba(249,249,249,0.6) 0%, rgba(100,100,100,0.6) 50%), url('https://images.unsplash.com/photo-1532597540419-b176991847e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80');
  background-position: center;
  height: 12vh;
  width: 35vw;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  clip-path:         polygon(0 0, 100% 0, 100% 100%, 20% 100%);
  display: flex;
  justify-content: flex-end;
}

.active-meals-resturant-photo p {
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin: auto;
  color: white;
  width: 25vw;
  text-align: center;
}


