.no-mp {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.dashboard-location-photo {
  height: 25vh;
  width: 100vw;
  background-size: cover !important;
  margin-left: auto;
  margin-right: auto;
  position: center;
  background-image: linear-gradient(-225deg, rgba(249,249,249,0.6) 0%, rgba(100,100,100,0.6) 50%), url('https://media-cdn.urbanadventures.com/data/149/tour_316/c-fakepath-tour-experience-lisbon-lead.jpg');
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 0 100%);
  clip-path:         polygon(0 0, 100% 0, 100% 70%, 0 100%);
  position: fixed;
  top: 10vh;
}

.dashboard-status-summary {
  height: 7.5vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #FF385C;
  -webkit-clip-path: polygon(0 100%, 100% 0%, 100% 100%, 0 100%);
  clip-path:         polygon(0 100%, 100% 0%, 100% 100%, 0 100%);
  position: fixed;
  top: 27.6vh;
}

.dashboard-status-text {
  margin: 0px;
  color: white;
  text-align: center;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform:rotate(-6.5deg);
  position: fixed;
  top: 25.3vh;
  right: 8vw;
}

.dashboard-status-summary p {
  color: white;
  text-align: right;
  margin-top: 4vh;
  font-size: 20px;
  font-weight: bold;
}

.dashboard-event-card {
  position: fixed;
  top: 35vh;
  border: none;
  width: 100vw;
  height: 40vh;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: vertical;
  overflow: auto;
}

.dashboard-event-border {
  width: 100vw;
  height: 39vh;
  border-top: solid 2px #74E8E8;
  border-bottom: solid 2px #74E8E8;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: vertical;
  overflow: auto;
}

//.dashboard-event-summary {
//  width: 90vw;
//  height: 35vh;
//  border: solid 2px white;
//  border-radius: 12px;
//  -webkit-box-shadow: 4px 4px 20px 0px rgba(227,223,227,1);
//  -moz-box-shadow: 4px 4px 20px 0px rgba(227,223,227,1);
//  box-shadow: 4px 4px 20px 0px rgba(227,223,227,1);
//  margin: auto;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}

.badge-status, {
  height: 3vh;
  width: 90vw;
  margin: auto;
  background-color:   #fff2f4;
  color: #FF385C;
  font-size: 14px;
  font-weight: lighter;
}

.badge-status {
  position: fixed;
  top: 37.5vh;
  border-radius: 12px 12px 0 0;
}

.city-status {
margin-bottom: 0px;
  color: white;
  font-size: 12px;
  text-align: center;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform:rotate(-6.5deg);
  position: fixed;
  top: 28vh;
  left: 35vw;
}

.meal-status {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vw;
  height: 27vh;
  flex-direction: column;
}

.dashboard-meal-summary {
  height: 7.5vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #FF385C;
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 100% 100%);
  clip-path:         polygon(0 0%, 100% 0%, 100% 100%, 100% 100%);
  position: fixed;
  bottom: 17.6vh;
}

.dashboard-meal-summary p {
  color: white;
  text-align: right;
  font-size: 18px;
  font-weight: lighter;
  padding-right: 8vw;
   -webkit-transform:rotate(6.5deg);
  position: fixed;
  right: 3vw;
  bottom: 18vh;
  font-size: 12px;
  font-weight: lighter;
}


.dashboard-meal-photo {
  height: 15vh;
  width: 100vw;
  background-size: cover !important;
  margin-left: auto;
  margin-right: auto;
  position: center;
  background-image: linear-gradient(-225deg, rgba(249,249,249,0.6) 0%, rgba(100,100,100,0.6) 50%), url('https://images.unsplash.com/photo-1532597540419-b176991847e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80');
  -webkit-clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
  clip-path:         polygon(0 0,100% 50%, 100% 100%, 0 100%);
  position: fixed;
  bottom: 10vh;
}
