

.no-mp {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.dashboard-badge-summary{
  height: 40px;
  width: 100vw;
  border-top: solid 2px white;
  margin-left: auto;
  margin-right: auto;
  background-color: #FF385C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-badge-summary p{
  margin: 0px;
}


.dashboard-badge-text {
  margin: 0px;
  font-size: 12px;
  color: white;
  text-align: center;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.dashboard-location-photo-lisbon {
  height: 200px;
  width: 100vw;
  background-size: cover !important;
  margin-left: auto;
  margin-right: auto;
  position: center;
  background-image: linear-gradient(-225deg, rgba(249,249,249,0.6) 0%, rgba(100,100,100,0.6) 50%), url('https://media-cdn.urbanadventures.com/data/149/tour_316/c-fakepath-tour-experience-lisbon-lead.jpg');
  background-position: center;
}

.dashboard-location-photo-newyork {
  height: 250px;
  width: 100vw;
  background-size: cover !important;
  margin-left: auto;
  margin-right: auto;
  position: center;
  background-image: linear-gradient(-225deg, rgba(249,249,249,0.6) 0%, rgba(100,100,100,0.6) 50%), url('https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1507218132/new-york-city-skyline-CHEAPNYCFLIGHT1017.jpg?itok=BuIH6Efp');
  background-position: center;
}

.dashboard-status-summary {
  height: 25px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
   background: repeating-linear-gradient(
      -45deg,
      $pink,
      $pink 5px,
      #bc2740 5px,
      #bc2740 10px
      ) !important;
}

.dashboard-status-text {
  margin: 0px;
  color: white;
  text-align: center;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.dashboard-status-summary p {
  color: white;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  height: 250px;
}

.dashboard-blank-block {
  height: 20px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.photo-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    background: repeating-linear-gradient(
      45deg,
      $pink,
      $pink 5px,
      #bc2740 5px,
      #bc2740 10px
      ) !important;
  height: 200px;
}

.photo-row {
    border: none;
  display: flex;
  justify-content: center;
  align-items: center
}

.dashboard-profile-photo-row-1 {
  width: 120vw;
  height: 80px;
  display: flex;
    margin-left: auto;
  margin-right: auto;
}

.dashboard-profile-photo-row-2 {
  width: 100vw;
    height: 80px;
   display: flex;
     margin-left: auto;
  margin-right: auto;
}

.dashboard-blank-block-2 {
  width: 100vw;
  height: 25px;
     background: repeating-linear-gradient(
      -45deg,
      $pink,
      $pink 5px,
      #bc2740 5px,
      #bc2740 10px
      ) !important;
}

.dashboard-event-card {
  border: none;
  width: 100vw;
  height: 250px;
  background-color: white;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: vertical;
  overflow: auto;
}

.dashboard-event-border {
  width: 100vw;
  height: 150px;
  border-top: solid 2px #74E8E8;
  border-bottom: solid 2px #74E8E8;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: vertical;
  overflow: auto;
}



//.dashboard-event-summary {
//  width: 90vw;
//  height: 35vh;
//  border: solid 2px white;
//  border-radius: 12px;
//  -webkit-box-shadow: 4px 4px 20px 0px rgba(227,223,227,1);
//  -moz-box-shadow: 4px 4px 20px 0px rgba(227,223,227,1);
//  box-shadow: 4px 4px 20px 0px rgba(227,223,227,1);
//  margin: auto;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}

.badge-status, {
  height: 10px;
  width: 90vw;
  margin: auto;
  background-color:   #fff2f4;
  color: #FF385C;
  font-size: 14px;
  font-weight: lighter;
}

.badge-status {
  border-radius: 12px 12px 0 0;
}

.city-status {
  margin-bottom: 0px;
  color: white;
  text-align: center;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.city-status p {
  font-size: 34px;
  margin-top: 28px;
  margin-bottom: 0px

}

.city-status h6 {
  font-size: 44px;
  top: 8px;
  left: 20vw;
    margin: 0px;
}

.city-status h5 {
  font-size: 54px;
  text-shadow: 1px 1px $pink;
  color: $turquoise;
    margin: 0px;
}


.meal-status {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85vw;
  height: 150px;
  flex-direction: column;
}

.dashboard-meal-summary {
  height: 40px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #FF385C;
}

.dashboard-meal-summary p {
  color: white;
  text-align: right;
  font-size: 18px;
  font-weight: lighter;
  font-size: 12px;
  font-weight: lighter;
}


.dashboard-meal-photo {
  height: 150px;
  width: 100vw;
      background-image: linear-gradient(-225deg, rgba(249,249,249,0.6) 0%, rgba(100,100,100,0.6) 50%), url('https://images.unsplash.com/photo-1532597540419-b176991847e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80');

  background-size: cover !important;
  margin-left: auto;
  margin-right: auto;
  position: center;
}

.dashboard-meal-photo p {
  margin-bottom: 0px;
  color: white;
  font-size: 32px;
  text-align: center;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.dashboard-bottom-block {
  height: 50px;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  background-color: #FF385C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-bottom-block p {
  margin: 0px;
  font-size: 12px;
  color: white;
  text-align: center;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);

}

.user-action-button {
  position: absolute;
}
