$turquoise: #74E8E8;
$inactive: #E5E5E5;
$pink: #FF385C;



.interest-container {
  border-radius: 15px;
  border: 1px solid rgba(255,56,92, 0.3);
  box-shadow: 5px 5px lightgrey;
  background-color: white;
  height:13vh;
  width: 50% !important;

}

.name {
  color: $turquoise;
  text-shadow: 1px 1px black;
}

.interest-name {
  font-weight: bold;
  font-size: 20px;
  margin: 3px;
  text-shadow: 1px 1px $turquoise;
  color: $pink;
}

.i-am-centered {
  margin: auto; max-width: 300px;
}

.interest-long-name {
  font-weight: bold;
  font-size: 18px;
  margin: 3px;
  text-shadow: 1px 1px $turquoise;
  color: $pink;
  padding-bottom: 3px;
}
.interests-container {
  height: 80vh;
}
