.tabs {
  position: fixed;
  bottom: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 74px;
  box-shadow: inset 0px 11px 8px -10px #CCC;
}
.tabs a {
  text-shadow: 1px 1px $turquoise;
  color: $pink;
  opacity: 0.6;
}
.tabs a.active {
  cursor: pointer;
  text-decoration: none;
  opacity: 1;
  border-top: solid 8px $turquoise;
}

.tabs a:hover {
  cursor: pointer;
  text-decoration: none;
}

.tabs h3 {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
}
.tabs p {
  opacity: 0.5;
  margin-bottom: 0;
}
.tab {
  flex: 0 1 20%;
  text-align: center;
  padding: 8px 0;
  height: 74px;
  border-top: solid 8px white;
}

.tab.active p {
  opacity: 1;
}

.dock-text {
  font-size: 14px;
  font-weight:  bold;
  text-shadow: 1px 1px $turquoise;
  color: $pink;
  opacity: 0.6;
}
